@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for cozy feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1c1917; 
}
::-webkit-scrollbar-thumb {
  background: #44403c; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #57534e; 
}